.add-form {
    margin-top: 12px;
    background-color: darksalmon;
    border: #ffb249 2px solid;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.7);
}
.add-form > *{
    display: block;
    margin-top: 16px;
}
.add-form input {
    height: 24px;
    font-size: 18px;
}
