.schedule-container {
    background-color: #C9DAF3FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    border-radius: 4px;
}

.time-container {
    height: 30px;
    margin: 1px
}
h6 {
    white-space: nowrap;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 2vw;
}

.in-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cart-holder{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}