.schedule-container {
    background-color: #C9DAF3FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    border-radius: 4px;
}

.time-container {
    height: 30px;
    margin: 1px
}
h6 {
    white-space: nowrap;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 2vw;
}

.in-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-holder{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-button {
    position: fixed;
    left: 50px;
    top: 12px;
    color: #e3cd92;
    cursor: pointer;
    animation: 2s blink infinite;
}

@keyframes blink {
    0% {
        color: #e3cd92;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #e3cd92;
    }
}

.sales {
    position: fixed;
    left: 91px;
    top: 11px;
    font-size: 20px;
    background-color: #d02d1b;
    border: solid 2px #7e0808;
    color: white;
    border-radius: 8px;
    padding: 0 2px;
    cursor: pointer;
    animation: infinite linear-blink 6s;
}
@keyframes linear-blink {
    0% {
        background: #d02d1b;
    }
    40% {
        background-color: #d02d1b;
        border-color: #7e0808;
    }
    45% {
        background-color: #e5766e;
        border-color: #ad504b;
    }
    48% {
        background-color: #e5766e;
        border-color: #ad504b;
    }
    53% {
        background-color: #d02d1b;
        border-color: #7e0808;
    }
    100% {
        background: #d02d1b;
    }
}

.sales:hover {
    background-color: #af2517;
}

