.isOver {
    opacity: 0.6;
    pointer-events: none;
}

.cell {
    display: flex;
    width: 110px;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    border: blue solid 1px;
    user-select: none;
    cursor: pointer;
    height: 60px;
}

.selected {
    border-color: #1ba27b;
    box-shadow: 0 0 4px #1ba27b;
    animation: shadow ease-out 0.3s;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 white;
    }
    100% {
        border-color: #1ba27b;
        box-shadow: 0 0 4px #1ba27b;
    }
}

.fill-bar {
    height: 2px;
    width: 80%;
    margin: 5px auto;
    background: linear-gradient(90deg, #131c70 0%, #131c70 var(--percent), #e5e5e5 var(--percent), #e5e5e5 100%);
    transition: ease-out 0.3s;
}

.over, .overfilled {
    background-color: rgba(98, 78, 78, 0.1);
    pointer-events: none;
}
.overfilled {
    background-color: rgba(0, 17, 253, 0.25);
}

.admin-over {
    background-color: rgba(98, 78, 78, 0.1);
}