.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.contact-logo {
    width: 50px;
    height: 50px;
}
.contact-logo img {
    width: 50px;
    height: 50px;
}

.contact-text {
    font-size: 20px;
}

.contacts-map {
    max-width: 600px;
    margin-right: auto;
}

@media (min-width: 769px) {
    .contacts-map {
        display: none;
    }
    
}