h4 {
    color: #8169bb;
}

h5 {
    color: #4d5154;
}

.bucket-container {
    display: flex;
    justify-content: flex-end;
    color: #c72376;
    cursor: pointer;
}
.bucket {
    cursor: pointer;
}
.drawer-container {
    padding: 0 4vw 0 4vw;
    height: auto;
    max-height: 70vh;
    display: block;
    background-color: #b099e1;
}
.drawer-container > * {
    margin-top: 1.5vh;
}


input {
    margin-right: auto;
    border: 2px #3c5eb0 outset;
    background-color: #9b84ff;
    border-radius: 8px;
    font-family: "Courier New", serif;
    font-weight: bold;
}

.drawer-header {
    color: #3c5eb0;
}