.login-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    z-index: 3;
}

.form-container {
    width: 430px;
    height: auto;
    position: relative;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-container::before{
    z-index: -10;
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
            #2434c9,
            #202eb0
    );
    left: -80px;
    top: -80px;
    animation: before-appear 2s ease-out;
}
@keyframes before-appear {
    0% {
        left: -200px;
        top: -80px;
        opacity: 0.3;
    }
    100% {
        left: -80px;
        top: -80px;
        opacity: 1;
    }
}

.form-container::after{
    z-index: -10;
    height: 200px;
    width: 200px;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -30px;
    bottom: -80px;
    animation: after-appear 2s ease-out;
}
@keyframes after-appear {
    0% {
        right: -140px;
        bottom: -80px;
        opacity: 0.3;
    }
    100% {
        right: -30px;
        bottom: -80px;
        opacity: 1;
    }
}


.login-form {
    z-index: 100;
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.login-form *{
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.login-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.login-label {
    display: block;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 500;
}

.login-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(185, 185, 185);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}::placeholder{
    color: #e5e5e5;
}

.login-button {
    margin-top: 50px;
    width: 100%;
    background-color: var(--nav-bc);
    color: var(--white);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.change-auth-variant {
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-form {
        padding: 25px 12px;
    }
    .form-container {
        width: 80%;
    }
    .form-container h3 {
        font-size: 22px;
    }
    .form-container::before, .form-container::after{
        height: 100px;
        width: 100px;
    }
    .form-container::before{
        left: -40px;
        top: -40px;
    }
    .form-container::after{
        right: -15px;
        bottom: -40px;
    }
    .login-container {
        margin-top: 50px;
    }

    @keyframes before-appear {
        0% {
            left: -70px;
            top: -40px;
            opacity: 0.3;
        }
        100% {
            left: -40px;
            top: -40px;
            opacity: 1;
        }
    }

    @keyframes after-appear {
        0% {
            right: -45px;
            bottom: -40px;
            opacity: 0.3;
        }
        100% {
            right: -15px;
            bottom: -40px;
            opacity: 1;
        }
    }
}