body {
    background-color: #545abf;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(92, 41, 238, 0.3);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #9080cc;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.players-shower{
    position: relative;
    transform: translateX(-8px) translateY(-8px);
    border: burlywood 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    display: inline-flex;
    padding: 3px;
    margin-right: auto;
    justify-content: center;
}
.player-icon{
    display: inherit;
    max-height: 20px;
}

.header {
    text-align: center;
    color: white;
    text-shadow: 1px 1px #b099e1;
    margin: 1rem 0;
}

.item {
    width: 100%;
    align-items: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container>div {
    flex: 0 50%;
    box-sizing:border-box;
    margin-bottom: 2em;
}

.sport-card {
    background-color: #3c5eb0;
}

.sport-header {
    color: #9b84ff;
    font-weight: bold;
    font-size: 15px;
}

.card-text {
    padding: 2px 5px;
    color: #c9daf3;
    font-size: 0.9rem;
}