.first-big-card {
    border-radius: 12px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.fok-name, .description {
    color: white;
    font-size: 24px;
}

.description {
    margin: 0 30% 30px 60px;
}

.fok-name {
    text-align: right;
    align-self: flex-end;
    margin: 0 40px 40px 0;
    font-weight: bold;
    letter-spacing: 3px;
}
@media (max-width: 1350px) {
    .fok-name, .description {
        font-size: 22px;
    }
    .description {
        margin: 0 20% 25px 40px;
    }
    .fok-name {
        margin: 0 30px 30px 0;
    }
}
@media (max-width: 1200px) {
    .fok-name, .description {
        font-size: 20px;
    }
    .description {
        margin: 0 10% 15px 30px;
    }
    .fok-name {
        margin: 0 20px 20px 0;
    }
}

@media (max-width: 1000px) {
    .fok-name, .description {
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    .fok-name, .description {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .fok-name, .description {
        font-size: 19px;
    }
    .fok-name {
        margin: 0 20px 10% 0;
    }
    .description {
        display: none;
    }
}
@media (max-width: 635px) {
    .fok-name, .description {
        font-size: 13px;
    }
    .fok-name {
        margin: 0 0 10% 20px;
        text-align: left;
        align-self: start;
    }
}