.card-container {
    background-color: #C9DAF3FF;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 1em 20px rgba(31, 31, 31, 0.57);
}
.card-header {
    color: #8573d3;
    font-weight: bolder;
}

.card-value {

}