.button-margin {
    margin-top: 1em;
}
.button-margin > * {
    margin-top: 8px;
    display: block;
}

.selected-button-in-group {
    background-color: #985de7 !important;
    border: 2px #b099e1 outset !important;
}