.schedule-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.schedule-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.schedule-title button {
    width: 40px;
    height: 40px;
}

.cells-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.filling-empty-space-child {
    width: 110px;
    height:0;
}

.book-info {
    border-radius: 8px;
    border: 2px black solid;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.payment-expected {
    color: firebrick;
    font-weight: bold;
    font-size: 22px;
}


.paid {
    color: #1ba27b;
    font-size: 20px;
}