.header {
    background-color: var(--nav-bc);
    box-shadow: 1px 1px 5px 0 #3c5eb0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-left: 10px;
}

.logo img {
    margin: auto 0;
    height: 60px;
}

.nav {
    flex: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--nav-bc);
    overflow: hidden;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu li:last-child {
    margin-left: auto;
}

.menu li a {
    padding: 0 25px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--nav-bc-hover);
    color: var(--white-hover);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamburger {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamburger-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--white);

    }

    .hamburger {
        display: none;
    }
}