.sections-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--white);
    border-radius: 12px;

    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.5);
}
.image-and-trainer-container {
    width: 45%;
}
.image-and-trainer-container img {
    width: 100%;
    border-radius: 12px;
}
.image-and-trainer-container div {
    margin-top: 2px;
}

.description-and-title-container {
    width: 55%;
    margin-left: 12px;
}

@media (max-width: 768px) {
    .section-container {
        font-size: 15px;
    }
}