.div-container > * {
    margin: 2em 2vw;
}

.div-container > * > * {
    margin: 0;
}

ul{
    color: black;
}

.yandex-map {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.to-bottom-button {
    background-color: white;
    color: blue;
    opacity: 0.5;
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 1000;
    border-radius: 32px;
    cursor: pointer;
}


.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: transparent;
}

.images-in-carousel {
    width: 100%;
    position: center;
    align-self: center;
}

.slide-text {
    color: white;
    text-shadow: 1px 1px 2px black, 2px 2px 4px #34383c;
    font-size: 1em;
    margin-bottom: 0 !important;
    line-height: 1em;
}