.card-wrapper {
    border-radius: 8px;
    background: linear-gradient(34deg, #b1ea4d, #459522);
    padding: 12px;
    width: auto;
    align-self: stretch;
    min-width: 180px;
}

.flex-space-around {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.cards-together {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
    min-height: 120px;
    flex-wrap: wrap;
}

.abonnement {
    background: linear-gradient(110deg, #f2d50f, #da0641);
}

.account-data {

}

.books-container {
    border-radius: 6px;
    border: 2px solid #1b56a2;
    background: linear-gradient(161deg, rgba(227, 227, 227, 0.5), rgba(93, 104, 116, 0.52));
    padding: 10px;
}
.cabinet-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exit-button {
    position: relative;
}
.exit-button button {
    position: absolute;
    top: 0;
    right: 0;
}

.admin-link {
    position: fixed;
    bottom: 50px;
    left: 10%;
    border: 2px solid firebrick;
    border-radius: 6px;
    padding: 6px;
    display: inline-block;
}

@media (max-width: 1100px) {
    .flex-space-around {
        gap: 10px;
    }

}