.card__container {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    background: linear-gradient(104.3deg, #eaeaea 0%, #eeeeee 30%, #ffffff 100%);
    border-radius: 20px 30px 30px 20px;
}
.card__container[rel=false] {
    flex-direction: row-reverse;
    background: linear-gradient(284.3deg, #eaeaea 0%, #eeeeee 30%, #ffffff 100%);
    border-radius: 30px 20px 20px 30px;
}

.card__container p {
    margin: 2px 16px;
}

.card__image {
    float: left;
    width: 40%;
    margin: 0 10px 0 0;
}
.card__image[rel=false] {
    float: right;
    margin: 0 0 0 10px;
}


@media (max-width: 1200px) {
    .card__image, .card__image[rel=false] {
        margin: 0 0 10px 0;
        float: top;
        width: 100%;
    }
}

@media (max-width: 768px) {

}
