.div-container > * {
    margin: 2em 2vw;
}

.div-container > * > * {
    margin: 0;
}

ul {
    color: black;
}

.yandex-map {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottom-button {
    animation: 6s shadow-blinking infinite;
}
@keyframes shadow-blinking {
    50% {
        background-color: #3f1ac5;
    }
    54% {
        background-color: #997fde;
    }
    58% {
        background-color: #3f1ac5;
    }

}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: transparent;
}

.images-in-carousel {
    width: 100%;
    position: center;
    align-self: center;
}

.h-container {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
.slide-text {
    color: white;
    text-shadow: 1px 1px 2px black, 2px 2px 4px #34383c;
    font-size: 1em;
    margin-bottom: 0 !important;
    line-height: 1em;
    text-align: right;
}