.sections-list--element {
    width: 100%;
    position: relative;

}

.sections-list--element .age--container {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 18%;
    height: 100%;
}

.age-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.age-block img {
    width: 100px;
    z-index: -1;
}
.age-block .children {
    padding: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 45%, rgba(252,70,107,1) 100%);
}
.age-block .adult {
    padding: 20px;
    background: radial-gradient(circle, rgba(252,70,107,1) 45%, rgba(63,94,251,1) 100%);
}